
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#imageInput, #uploadButton {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 16px;
    padding: 10px 20px;
    z-index: 1000;
}
